---
title: DEADPOOL
---
<%= image_tag "https://ideaexchange.org/sites/default/files/styles/original/public/deadpool.png?itok=_Jy90pWW", class: "banner" %>

<div class="welcome text-center padded">
  <h1>Deadpool is Watching</h1>
  <p class="doc">
  </p><!-- .doc -->
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ONHBaC-pfsk" frameborder="0" allowfullscreen></iframe></p>
  <%= link_to "Go watch the movie", "http://www.imdb.com/title/tt1431045/" %>
  <p>
    <%= image_tag "deadpool-2.jpg", class: "deadpoolimage" %>
  </p>
  <p>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242950002&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" style="display:none;"></iframe>
  </p>
</div><!-- .welcome -->
